# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.venv/
.env/

# Editors
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Model / Output Files
*.pkl
*.joblib
*.h5
*.pt
*.pth

# Optional: Large Data Folders
data/
dataset/
datasets/
